# В этом файле можно оставлять комментарии
# Игнорируем файл в любой директории проекта
access.log
# Игнорируем директорию в любой директории проекта
node_modules/
# Игнорируем каталог в корне рабочей директории
/coverage/
# Игнорируем все файлы с расширением sqlite3 в директории db
/db/*.sqlite3
# Игнорировать все .txt файлы в каталоге doc/ на всех уровнях вложенности
doc/**/*.txt


INFO.md
